*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
     background-color: #e5e5e5;
}
.header{
	box-shadow: 0 0 10px 7px rgba(	0, 0, 0, 0.25);
}
h3{
	color: #526DB4;
}
.link{
	text-decoration: none !important;
	color: black;
}
p{
	font-size:18px;
}
footer{
	background-color: #526db4;
}
.con{
	padding: 30px 70px 0;
}
.pageimg{
	padding: 30px 0 0;
}
.cont{
	width: 20px;
	height: 25px;
}
.li{
	border-bottom: 3px solid #526D84;
}
.font{
	font-size: 15px;
}
.image{
	max-width:230px ;
	width: 100%;
}
.background{
	background-image: url(../img/green.png);
}
.visib{
	background-image: url(../img/visib.png);
	background-repeat: no-repeat;
}
.girl{
	padding: 89px 0 0;
}
.bigg1{
	width: 100%;
	
}
.pick{
	color: #464646;
}
.texts1{
	padding: 150px 0 0;
}
.picturecloud{
	justify-content: space-between;
	width: 200px;
}
.japan1{
	color: #A1B61A;
	padding: 50px 80px 0;
}
.japan2{
	font-size: 11px;
    padding: 110px 65px 0;
}
.p{
	font-size: 14px;
}
.phone{
	position: relative;
}
.pitext{

    font-size: 17px;
}
.market{

}
.purple{
	width: 100%;
	margin-top: 50%;
}
.fiolet{
	
	background-color: #8258A6;
	width: 100%;
	height: auto;
	height: 400px;
}
.phoness1{
	width: 100%;
}
.orange{
	background-color: #DD7C32;
	width: 100%;
}
.white1{
	width: 100%;
}
.backs{
	background-image: url(../img/lines.png);
	background-repeat: no-repeat;
    margin: 0 auto;
	width: auto;
}
.bluue{
	background-color: #526DB4;
	height: 300px;
	margin: 0 auto;
}
.girl11{
	margin-bottom: 10%;
}
.orange{
	margin-top: 50%;
}
.putp{
	float: right;
}
.fontsize{
	font-size: 32px;
}
.fonee{
	margin-top: -20%;
	margin-right: -20%;
}
.clo2{
	margin-top: -10%;
}
.marg{
	left: 50%;
}
.h1{
	padding: 30px 0 30px;
}
@media only screen and (max-width: 992px){

}