*{
	margin: 0;
	padding: 0;
}
.img{
   position:sticky;

}
.header{
	box-shadow: 0 0 10px 7px rgba(	0, 0, 0, 0.25);
}
h3{
	color: #526DB4;
}
.link{
	text-decoration: none !important;
	color: black;
	justify-content: space-between;
}